a:hover{
	background-color:#FFF;
}
a:visited{
	color:red;
}
a:active{
	color;blue;
}
body{ background-color:blue;
}
#header{
	
}
#logo{
	
}
#title{
	
}
#faceb{
	
}
#container{
	width: 100%;
	font-family: 'Oswald', sans-serif;
}
#sidebar{
	float:left-side;
	width:160px;
}
#content{
	padding:10px;
}
#nav{
	background-color:#EEE;
	width:100%;
	text-align:center;
}
#nav ul{
	padding:10px;
	text-align:right;
	font-size:16px;
}
#nav li{
	display:inline;
	padding:10px;
}
#nav li a{
	color:#5be2f1;
	text-decoration:none;
}
#main{
	width:780px;
	height:370px;
	clear:both;
	float:right-side;
	text-align:center;
}
#footer{
	background-color:#EEE;
	clear:both;
	text-align:right;
	background-color: #F5FFA;
}
